h1 { font-weight: 700;}
h2 { font-weight: 600;}
p { font-weight: 500; font-size: 1rem; line-height: 1.2;}
a { text-decoration: none; color: inherit;}

:root {
  --header-h: 64px;
}

.hero, .contact_form {
  display: none;
  padding: 1rem 2rem;
}

body {
  font-family: 'Inter', sans-serif;
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: url(assets/background.png) center / cover no-repeat;
  margin: 0;
}

.header {
  max-width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  background: rgba(10, 10, 10, 0.289);
}

.logo img {
  display: block;
  height: 48px;
  width: auto;
}

.burger {
  display: flex;;
  flex-direction: column;
  padding: 8px;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.burger.is-active{
  opacity: 0.7;
}

.no-scroll {
  overflow: hidden;
}

.cta {
  width: 100%;
  font-size: 1.5rem;
}
  
.menu {
  position: fixed;
  top: var(--header-h);
  height: calc(100vh - var(--header-h));
  display: none;
  flex-direction: column;
  left: 0;
  right: 0;
}

.menu.is-open {
  display: flex;
}
.menu a {
  text-align: left;
  padding: 0.6rem;
  text-align: center;
  font-weight: 700;
  background: rgb(10, 10, 10, 0.99);
  border: 1px solid rgba(19, 19, 19, 0.78);
}

.menu a.active {
  background: radial-gradient(circle, rgb(1, 49, 105), rgb(2, 84, 179), rgb(3, 104, 219));
  font-weight: 600;
}

.hero.is-active {
  display: flex;
  flex-direction: column;
}

.hero_content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 0;
}

.footer {
  padding: 0;
  font-size: 0.7rem;
}

.footer_content {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  align-items: center;
  text-align: center;
  padding-bottom: 0.5rem;
}

.footer_content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.footer_content a {
  text-decoration: underline;
}

.footer_content p {
  font-size: 0.7rem;
}


.contact_form.is-active{
    display: flex;
    justify-content: center;
    align-items: start;
}

.form_content {
    padding: 1.5rem;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}

label {
  font-size: 0.9rem;
}

input, textarea button{
    width: 100%;
    padding: 0.75rem;
}

textarea {
  width: 100%;
  min-height: 140px;
  resize: vertical;
  padding: 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.4;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.is-hidden {
  display: none;
}

.phone_link {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

/*STYLES*/
.glass_nav {
  background: rgba(10, 10, 10, 0.445);
}

.glass_content {
  background: rgba(10, 10, 10, 0.78);
  border-radius: 8px;
}

.interactive {
  background: rgba(10, 10, 10, 0.445);
  border-radius: 5px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}


/*MOBILE*/
@media (min-width: 768px) {
  body {
    margin: 0;  
  }

  .burger {
    display: none;
  }
  .menu {
    position: static;
    flex-direction: row;
    display: flex;
    height: auto;
    width: auto;
    top: auto;
    left: auto;
    right: auto;

    margin-left: auto;
    gap: 60px;
  }

  .menu a {
    background: none;
    padding: 0.8rem 1.2rem;
  }

  .hero.is-active {
    flex-direction: row;
    gap: 4rem;
    align-items: start;
  }

  .hero_content {
    max-width: 600px;
  }

  .footer {
    padding: 0.6rem 1rem;
  }

  .footer_content li {
    align-items: center;
  }

  .footer_content p {
  margin: 0;
  font-size: 0.85rem;
  }

  



  /*STYLES*/
  .glass_nav {
  backdrop-filter: blur(5px);
  }

  .glass_content {
  backdrop-filter: blur(14px);
}

  .interactive {
  padding: 0.4rem 1.2rem;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(64, 64, 64, 0.6);
  transition: transform 0.2s ease, background-color 0.2s ease;
}


  .floatinefect {
  border-radius: 8px;
  box-shadow: 0 20px 30px rgb(0, 0, 0);
  border: 2px solid rgba(35, 35, 35, 0.122);
  }

  .interactive:hover {
  background: radial-gradient(circle, rgb(1, 49, 105), rgb(2, 84, 179), rgb(3, 104, 219));
  transform: scale(0.97);
  }
}