h1 { font-weight: 700;}
h2 { font-weight: 600;}
p { font-weight: 500; font-size: 1rem; line-height: 1.6;}
a { text-decoration: none; color: inherit;}

:root {
  --header-h: 64px;
}

body {
  font-family: 'Inter', sans-serif;
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: url(assets/background.png) center / cover no-repeat;
  margin: 0;

}

.header {
  position: relative;
  max-width: 100%;
  padding: 1rem;
}

.nav {
  display: flex;
  align-items: center;
}

.logo img {
  display: block;
  height: 48px;
  width: auto;
}

.burger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.burger.is-active{
  opacity: 0.7;
}

.no-scroll {
  overflow: hidden;
}
  
.menu {
  position: fixed;
  top: var(--header-h);
  height: calc(100vh - var(--header-h));
  display: none;
  flex-direction: column;
  left: 0;
  right: 0;
}

.menu.is-open {
  display: flex;
}
.menu a {
  padding: 0.6rem;
  text-align: center;
}

.hero {
  display: none;
}

.hero.is-active {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.hero_content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
}

.footer {
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.85);
}

.footer_content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

}

.footer_content ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/*STYLES*/

.glass_content {
  backdrop-filter: blur(14px);
  background: rgba(0, 0, 0, 0.78);
}

.interactive {
  padding: 0.4rem 1.2rem;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(64, 64, 64, 0.6);
  transition: transform 0.2s ease, background-color 0.2s ease;
}


/*MOBILE*/
@media (min-width: 768px) {
  .menu {
    flex-direction: row;
    gap: 60px;
    margin-left: auto;
  }

  .hero.is-active {
    flex-direction: row;
    gap: 4rem;
    align-items: start;
  }

  .hero_content {
    max-width: 600px;
  }

  .footer {
    padding: 0.8rem 2rem;
    font-size: 0.85rem;
  }

  /*STYLES*/
  .glass_nav {
  backdrop-filter: blur(5px);
  background: rgba(10, 10, 10, 0.289);
  }

  .floatinefect {
  border-radius: 8px;
  box-shadow: 0 20px 30px rgb(0, 0, 0);
  border: 2px solid rgba(35, 35, 35, 0.122);
  }

  .interactive:hover {
  background: radial-gradient(circle, rgb(1, 49, 105), rgb(2, 84, 179), rgb(3, 104, 219));
  transform: scale(0.97);
  }
}